#wrapper{margin: 0 auto;
		 width: 100%;
		}
#header{padding: 0px;}
#header h1{ margin: 0;}
#navigation{float: left; 
			width: 100%; 
			background: #0000FF;}
#navigation ul{margin: 0; padding: 0;}
#navigation ul li{list-style-type: none; display: inline;}
#navigation li a{display: block; float: left;
			  padding: 5px 10px; color: #fff;
			  text-decoration: none;
			  border-right: 1px solid #fff;}
#navigation li a:hover{background: #0066FF;}
#content-container{float: left;
				   width: 100%;
				   background: #FFF repeat-y;}
#main{clear: left;
	  float: left;
	  width: 91%;
	  padding: 20px 0;
	  margin: 0 4% 4% 4%;
	  display: inline;}
#main h2{margin: 0;}

#footer{
	clear: left;
	background: #0000FF;
	text-align: right;
	padding: 20px;
	height: 1%;
}
#div div 
{
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
}
span {
	font-weight: bold;
	font-size: 18px;
	color: #0000ff;
}#wrapper #content-container div h2 {
	border-radius: 10px;
	border-style: dashed;
	border-color: #6495ED;
	border: 3px solid #6495ED;
	background-color: #BCD2EE;
	height: 30px;
	width: 183px;
	margin: auto;
	text-align: center;
}
a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}
b {
	font-size: 24px;
}
