#wrapper{margin: 0 auto;
		 width: 100%;
		}
#header{padding: 0px;}
#header h1{ margin: 0;}
#navigation{float: left; 
			width: 100%; 
			background: #0000FF;}
#navigation ul{margin: 0; padding: 0;}
#navigation ul li{list-style-type: none; display: inline;}
#navigation li a{display: block; float: left;
			  padding: 5px 10px; color: #fff;
			  text-decoration: none;
			  border-right: 1px solid #fff;}
#navigation li a:hover{background: #0066FF;}
#content-container{float: left;
				   width: 100%;
				   background: #FFF repeat-y;}
#main{
	clear: left;
	float: left;
	width: 20%;
	display: inline;
	border-right:1px solid #0000FF;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 1px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}
#main h2{margin: 0;}

#footer{
	clear: left;
	background: #0000FF;
	text-align: right;
	padding: 20px;
	height: 1%;
}
span {
	font-weight: bold;
	font-size: 18px;
	color: #0000ff;
}#wrapper #content-container #side div a {
	border-radius: 10px;
	border-style: dashed;
	border-color: #6495ED;
	border: 3px solid #6495ED;
	background-color: #BCD2EE;
	height: 38px;
	width: 183px;
	margin: auto;
	text-align: center;
}
#side a {
	border-style:ridge;
	text-decoration:none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}
a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}
b {
	font-size: 24px;
}

